#linkml and black just here to set versions.  Once bmt is fixed, this can go away
linkml==1.3.2
linkml-dataops==0.1.0
linkml-runtime==1.3.2
black<=21.12b0
#Real stuff starts here
bmt==0.8.11
jinja2==3.0.1
pyyaml==6.0
sanic==22.9.0
swagger_ui_bundle==0.0.8
pytest==6.2.4
pytest-cov==2.12.1
pytest-sanic==1.9.1
httpx==0.23.0
httpcore==0.15.0
sanic_testing
sanic-ext
